body {
    color: #eeeeee;
    background-color: darkblue;
    padding: 2vw;
    font-family: 'Overpass', cursive;
}

*:before {
    content: "HEY";
    display: inline;
    color: red;
    width: 40px;
    height: 1em;
}

a:hover {
    color: green;
}