body {
    color: white;
    background-color: black;
    font-family: 'Sacramento', cursive;
    font-size: 150%;
    margin-top: 50%;
    margin-left: 7000vmax;
    margin-right: 20%;
    padding: 2vw;
}
  
*:before {
    content: "HEY";
    display: inline;
    color: red;
    width: 40px;
    height: 1em;
}

a:hover {
    color: green;
}




    
    
    
